<h1>Photogram</h1>
<div class="row posts-wrapper">
    <% @posts.each do |post| %>
    <div class="post">
        <div class="post-head">
            <div class="name">
                <% if post.user %>
                    <%= post.user.user_name %>
                <% else %>
                    no username
                <% end %>
            </div>
            
        </div>
        <div class="image center-block">
            <%= link_to post_path(post) do %>
                <%= image_tag post.image.url(:medium), class: "img-responsive" %>
             <% end %>
            <p class="caption"><%= post.caption %></p>
           
        </div>
    </div>
            
        
    <% end %>
</div>